#slideshow {
    display: flex;
    align-items: center;
}

#planetDisplay img {
    width: 200px;
    float: left;
}

#planetInfo {
    margin-left: 20px;
    float: right;
}

#thumbnails img {
    width: 50px;
    cursor: pointer;
    margin: 5px;
    float: left;
}
