body{background-color: #540D6E;color:#EE4266}
a{color: #FFD23F;}
h1{color: #F3FCF0;}
nav{background-color: #92B4A7;}
nav a{color: #F6F930;}
nav a:hover{background-color: #19647E;}
img.left-float {
    float: left;
    margin-right: 10px;
}
.clear {
    clear: both;
}
